<h1>Courses Details</h1>
<div class="card text-bg-dark">
    <img src="{{course.image}}" class="card-img" alt="...">
    <div class="card-img-overlay">
        <h5 class="card-title">{{course.name}}</h5>
        <p class="card-text">{{course.description}}</p>
        <p class="card-text"><small>Last updated 3 mins ago</small></p>
    </div>
</div>