<div class="search-form">
    <form method="POST">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Search</label>
        <input type="text" name="keySearch" class="form-control" placeholder="Nhập từ khóa tìm kiếm">
    </div>
    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>